
.menu {
    position: relative;
    overflow: hidden;
}
.menu__logo {
    display: table-cell;
    padding: 0 90px;
}

.menu__logo__img {
    width: 160px;
}

.menu__nav {
    background-color: $orange--logo;
    display: table-cell;
    transform-origin: 0 0;
    transform: skewX(20deg);
    vertical-align: bottom;
    width: 100%;
}

.menu__nav__list {
    display: flex;
    font-family: 'Saira', sans-serif;
    list-style-type: none;
    transform: skewX(-20deg);
}

.menu__nav__list__item {
    color: $white;
    text-transform: uppercase;
    padding-left: 80px;
}

.menu__nav__list__item a {
    text-decoration: none;
    color: $white;
}
