
// title bloc 

.bloc-title {
    text-align: center;
    padding: 100px 0 60px;
    position: relative;
    overflow: hidden;
}
.bloc-title__header {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.bloc-title__body {
    color: $grey--yellow;
}

// icons bloc 

.bloc-icons {
    margin: 40px 0 100px 0;
}
.bloc-icons--references {
    padding: 0 10%;
}
.bloc-icons__icon {
    background-color: $white;
    border: 1px solid $grey--9e;
    margin: 0px 50px;
    padding: 20px;
    text-decoration: none;
    transform: scale(1) rotate(45deg);
}
.bloc-icons__icon:active, .bloc-icons__icon:hover {
    box-shadow: 6px 6px $bleu--logo;
}
.bloc-icons__icon.active {
    box-shadow: 6px 6px $bleu--logo;
}
.bloc-icons__icon__container {
    height: 110px;
    width: 110px;
    transform: rotate(-45deg);
    text-align: center;
}
.bloc-icons__icon__desc {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #6b6f72;
}

// desc bloc 

.bloc-desc {
    background-color: $grey--f2;
    margin-top: 40px;
    padding-bottom: 50px;
    position: relative;
}
.bloc-desc__header {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.bloc-active {
    background-color: $grey--f2;
    display: block !important;
    height: 100px;
    width: 100px;
    position: absolute;
    top: -25px;
    margin-left: 80px;
    transform: rotate(45deg);
}