
.contact {
    .intro::after {
        display: none;
    }
    .intro-header {
        font-size: 30px;
    }
    .intro__header--black {
        font-weight: 900;
    }
}

.container {
    background-color: $grey--f2;
    margin-top: 140px;
    padding-bottom: 50px;
}

.map {
    border: 1px solid #959595;
    position: relative;
    top: -170px;
}

.contact-row {
    margin-top: -135px;
}

.container-contact {
    width: 80%;
}

.contact-info {
    margin-left: 40px;
    width: 20%;
}

.contact-form {
    background-color: $white;
    border: 1px solid #cfcfcf;
    margin-bottom: 10px;
    padding: 25px 40px;
}

.contact-form-header {
    text-transform: uppercase;
    border-bottom: 1px solid #e6e4e4;
    line-height: 50px;
    margin-bottom: 20px;
}

.contact-form-label {
    display: block;
    font-size: 14px;
    font-weight: 700;
}

.red-star {
    color: $red;
}

.contact-form-radio {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 0 50px 0 20px;
}

.contact-form-radio-input {
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.contact-form-control {
    padding: 5px 20px 5px 0;
    width: 45%;
}

.form-control {
    border: 1px solid $grey--c;
    padding: 4px 10px;
    height: 30px;
    width: 100%;
}

.span {
    content: '';
    width: 7.5%;
}

.contact-form-control.textarea {
    width: 100%;
}

textarea.form-control {
    height: 150px;
}

.contact-action-mandatory {
    font-size: 12px;
    margin-top: -10px;
    width: 50%;
}

.contact-action-buttons {
    text-align: right;
    width: 50%;
}

.contact-action-button {
    background-color: $white;
    border: 1px solid $bleu;
    color: $bleu;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 30px;
    text-transform: uppercase;
}

.contact-info-bloc {
    line-height: 32px;
    margin-bottom: 30px;
    padding: 0 30px 0 10px;
}

.contact-info-bloc-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.bleu-color {
    color: $bleu;
}
