.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.all-solutions {
    position: relative;
    overflow: hidden;
}

.all-solutions::before {
    background-color: #9e9e9d;
    content: '';
    display: block;
    position: absolute;
    height: 95px;
    width: 320px;
    top: 0;
    right: -8px;
    z-index: -1;
    transform-origin: 0 0;
    transform: skewX(20deg);
}
