/*  Variable */
/*  Base */
body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 26px;
  margin: 0; }

.intro {
  position: relative;
  overflow: hidden; }

.intro::after {
  background-color: #f06428;
  content: '';
  display: block;
  position: absolute;
  height: 95px;
  width: 320px;
  bottom: 0;
  left: -36px;
  z-index: -1;
  transform-origin: 0 0;
  transform: skewX(20deg); }

.intro-item {
  display: table-cell;
  padding: 100px 0;
  text-align: center;
  vertical-align: middle; }

.intro-item.slide {
  vertical-align: top;
  width: 45%; }

.intro-item.text {
  color: #918f89;
  padding-left: 35px;
  padding-top: 140px;
  text-align: justify;
  width: 55%; }

.intro-header {
  color: #2068b6;
  font-size: 48px;
  font-weight: 900;
  line-height: 26px;
  margin-bottom: 60px;
  text-transform: uppercase; }

.intro-header__black {
  color: #000;
  font-size: 30px;
  font-weight: bold; }

.intro-body {
  border-left: 1px solid #f06428;
  letter-spacing: -0.5px;
  line-height: 40px;
  margin-bottom: 120px;
  padding-left: 15px; }

.intro-footer {
  font-size: 24px;
  margin-bottom: 60px;
  text-align: right; }

.intro-footer-list {
  list-style-type: none; }

.intro-footer-list li {
  margin: 16px 0; }

.footer-list__span {
  color: #010101;
  text-transform: uppercase; }

.menu {
  position: relative;
  overflow: hidden; }

.menu-logo {
  display: table-cell;
  padding: 0 90px; }

.menu-logo-img {
  width: 160px; }

.menu-nav {
  background-color: #f06428;
  display: table-cell;
  transform-origin: 0 0;
  transform: skewX(20deg);
  vertical-align: bottom;
  width: 100%; }

.menu-nav-list {
  display: flex;
  font-family: 'Saira', sans-serif;
  list-style-type: none;
  transform: skewX(-20deg); }

.menu-nav-list-item {
  color: #fff;
  text-transform: uppercase;
  padding-left: 80px; }

.menu-nav-list-item a {
  text-decoration: none;
  color: #fff; }

/* Layout */
.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto; }

.all-solutions {
  position: relative;
  overflow: hidden; }

.all-solutions::before {
  background-color: #9e9e9d;
  content: '';
  display: block;
  position: absolute;
  height: 95px;
  width: 320px;
  top: 0;
  right: -8px;
  z-index: -1;
  transform-origin: 0 0;
  transform: skewX(20deg); }

/* Module */
.bloc {
  background-color: #e0e0e0;
  border-radius: 15px;
  margin: 10px;
  padding: 20px; }

.title {
  background-color: #FF9800;
  border-radius: 15px 15px 0 0;
  margin: -20px -20px 20px;
  padding: 10px 20px;
  position: relative; }

.title p {
  font-size: 18px;
  font-weight: bold;
  margin: 0; }

.content p {
  text-align: justify; }

.bloc .tabs {
  position: absolute;
  bottom: 0;
  right: 0; }

.bloc .tabs a {
  background-color: #f7cd90;
  border-radius: 5px 5px 0 0;
  color: #696969;
  display: inline-block;
  font-size: 12px;
  margin-right: 3px;
  text-shadow: none;
  text-decoration: none;
  padding: 5px 10px; }

.bloc .tabs a:hover, .bloc .tabs a:active, .bloc .tabs a.active {
  background-color: #e0e0e0;
  color: #000; }

.bloc-title {
  text-align: center;
  padding: 70px 0 60px;
  position: relative;
  overflow: hidden; }

.bloc-title__header {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase; }

.bloc-title__body {
  color: #918f89; }

.bloc-icons {
  display: inline-flex;
  margin: 40px 160px 100px 0; }

.bloc-icons__icon {
  padding: 30px;
  border: 1px solid #9e9e9d;
  transform: scale(1) rotate(45deg);
  margin: 0px 50px; }
  .bloc-icons__icon img {
    transform: rotate(-45deg); }

.bloc-icons__icon:active, .bloc-icons__icon:hover {
  box-shadow: 6px 6px #2068b6; }

.bloc-icons__icon.active {
  box-shadow: 6px 6px #2068b6; }

.bloc-desc {
  background-color: #f2f2f2;
  margin-top: 40px;
  padding-bottom: 50px;
  position: relative; }

.bloc-desc__header {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase; }

.bloc-active {
  background-color: #f2f2f2;
  display: block !important;
  height: 100px;
  width: 100px;
  position: absolute;
  top: -25px;
  margin-left: 80px;
  transform: rotate(45deg); }

.bloc-cards {
  display: flex;
  margin-bottom: 50px; }

div.card {
  width: 30%;
  overflow: hidden;
  margin: 0 30px 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.card__header {
  background-color: #3d89db;
  display: table;
  width: 100%;
  transform-origin: 500px 150px;
  transform: rotate(10deg); }

.card__header-icon {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
  background-color: #2068b6;
  height: 150px;
  width: 150px;
  transform-origin: 30px 40px;
  transform: rotate(30deg) skewX(7deg); }

.card__icon {
  transform: rotate(-40deg) skewX(-5deg) skewY(3deg);
  margin-left: 35px;
  margin-bottom: 15px; }

.card__header-title {
  color: #fff;
  display: table-cell;
  font-size: 24px;
  font-weight: bold;
  text-align: right; }

.card__header-title-text {
  padding: 60px 40px 0 50px;
  transform: rotate(-10deg); }

.card__contain {
  color: #918f89;
  padding: 20px; }

.card__list li {
  list-style-type: none;
  line-height: 1.75em;
  position: relative; }

.card__list li::before {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: -20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #ff0000; }

.bloc5 .bloc-cards {
  display: block; }

.row {
  display: flex; }

.bloc5__card {
  background-color: #2b7fd9;
  color: #fff;
  margin: 10px;
  padding: 27px 17px;
  position: relative;
  overflow: hidden;
  height: 246px;
  width: 266px; }

.bloc5__icon {
  background: url(../img/phone.png) 41px 58px;
  height: 58px;
  width: 41px; }

.bloc5__title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  text-transform: uppercase; }

.bloc5__card:hover {
  background-color: #dadada;
  color: #4e4d4d; }
  .bloc5__card:hover .bloc5__icon {
    background: url(../img/phone.png) 0px 0px; }

.ellipse-up {
  background-color: rgba(0, 0, 0, 0.2);
  height: 250px;
  width: 250px;
  position: absolute;
  border-radius: 125px;
  right: -125px;
  top: -115px; }

.ellipse-down {
  background-color: rgba(0, 0, 0, 0.2);
  height: 250px;
  width: 250px;
  position: absolute;
  border-radius: 125px;
  bottom: -180px;
  left: 20px; }

.contact .intro::after {
  display: none; }
.contact .intro-header {
  font-size: 30px; }
.contact .intro__header--black {
  font-weight: 900; }

.container {
  background-color: #f2f2f2;
  margin-top: 140px;
  padding-bottom: 50px; }

.map {
  border: 1px solid #959595;
  position: relative;
  top: -170px; }

.contact-row {
  margin-top: -135px; }

.container-contact {
  width: 80%; }

.contact-info {
  margin-left: 40px;
  width: 20%; }

.contact-form {
  background-color: #fff;
  border: 1px solid #cfcfcf;
  margin-bottom: 10px;
  padding: 25px 40px; }

.contact-form-header {
  text-transform: uppercase;
  border-bottom: 1px solid #e6e4e4;
  line-height: 50px;
  margin-bottom: 20px; }

.contact-form-label {
  display: block;
  font-size: 14px;
  font-weight: 700; }

.red-star {
  color: #ff0000; }

.contact-form-radio {
  font-size: 12px;
  margin-bottom: 10px;
  padding: 0 50px 0 20px; }

.contact-form-radio-input {
  margin: 0 5px 0 0;
  vertical-align: middle; }

.contact-form-control {
  padding: 5px 20px 5px 0;
  width: 45%; }

.form-control {
  border: 1px solid #cccccc;
  padding: 4px 10px;
  height: 30px;
  width: 100%; }

.span {
  content: '';
  width: 7.5%; }

.contact-form-control.textarea {
  width: 100%; }

textarea.form-control {
  height: 150px; }

.contact-action-mandatory {
  font-size: 12px;
  margin-top: -10px;
  width: 50%; }

.contact-action-buttons {
  text-align: right;
  width: 50%; }

.contact-action-button {
  background-color: #fff;
  border: 1px solid #0064b9;
  color: #0064b9;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 30px;
  text-transform: uppercase; }

.contact-info-bloc {
  line-height: 32px;
  margin-bottom: 30px;
  padding: 0 30px 0 10px; }

.contact-info-bloc-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase; }

.bleu-color {
  color: #0064b9; }

/*# sourceMappingURL=app.css.map */
